/*глобальные стили*/
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('../font/alsrubl-arial-bold.eot');
  src: url('../font/alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), 
  url('../font/alsrubl-arial-bold.woff') format('woff'), 
  url('../font/alsrubl-arial-bold.ttf') format('truetype'), 
  url('../font/alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body{
 color: rgb(255, 255, 255);
 font-family: "Roboto", Arial, sans-serif;
 margin: 0;
 padding: 0;
 min-width: 1200px;
}

main{
 margin: 0 auto;
 position: relative;
}

a{
 text-decoration: none;
}

.visually-hidden{
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

.main-menu,
.sub-menu,
.advantages-list, 
.filter-list{
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.main-header,
.slider,
.banners,
.products,
.advantages,
.row,
.breadcrumbs,
.filters,
.paginator,
.main-footer{
 flex-basis: auto;
 width: 100%;
}

.wrap-field-search,
.wrap-field-login,
.wrap-field-cart,
.sub-menu{
 display: none;
}

/*фокус*/
.main-menu-link:focus,
.main-menu-link-current:focus,
.logo-img-link:focus,
.actions-button:focus,
.button:focus,
.slide-toggle:focus,
.product-title-link:focus,
.blog-teaser-link:focus,
.social-btn:focus,
.footer-col .link:focus,
.footer-col-img:focus,
.breadcrumbs .link:focus,
.filter-form-sorting:focus,
.filter-button:focus,
.paginator-link:focus,
.paginator-link-next:focus,
.paginator-link-prev:focus{
  outline: 2px solid rgba(246, 181, 165, .9);
}

.option-input:focus + .option-label::before,
.option-input-radio:focus + .option-label-radio::before{
 outline: 2px solid rgba(246, 181, 165, .9);
}

/*Обертки*/
.wrapper{
 background-color: rgb(153, 174, 162);
}

.container{
 box-sizing: border-box;
 margin: 0 auto;
 padding-left: 27px;
 padding-right: 27px;
 width: 1200px;
}

/*header - крупные блоки*/
.main-header{
 display: flex;
 position: relative;
 width: 100%;
 z-index: 1;
}

.logo{
 margin-top: 9px;
}

.main-menu{
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 margin-left: 9px;
 margin-top: 29px;
 width: 700px;
}

.actions{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-bottom: 10px;
 margin-left: 22px;
 margin-top: 28px;
 width: 261px;
}

.contact-information{
 position: absolute;
 right: 0px;
 top: 72px;
 z-index: 1;
}

/*header - основная навигация*/
.main-menu-item{
 margin-right: 5px;
}

.main-menu-link{
 border-radius: 50px;
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 700;
 line-height: 18px;
 padding: 6px 12px;
 position: relative;
}

.main-menu-link-current{
 background-color: rgb(208, 112, 88);
 border-radius: 50px;
}

.main-menu-link::after{
 content: "";
 background-color: rgba(255, 255, 255, 0.2);
 height: 1px;
 position: absolute;
 top: 27px;
}

.main-menu-link-current::after{
 content: none;
}

.main-menu-item:nth-of-type(1) .main-menu-link::after{
 left: 13px;
 width: 60px;
}

.main-menu-item:nth-of-type(2) .main-menu-link::after{
 left: 14px;
 width: 142px;
}

.main-menu-item:nth-of-type(3) .main-menu-link::after{
 left: 15px;
 width: 90px;
}

.main-menu-item:first-child{
 position: relative;
}

.main-menu-link:hover{
 background-color: rgb(247, 246, 243);
 color: rgb(50, 50, 50);
 text-decoration: none;
}

.main-menu-link:active{
 background-color: rgb(248, 247, 244);
 box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
 color: rgb(50, 50, 50);
}

/*header - выпадающее подменю*/
.sub-menu{
 background-color: rgb(248, 247, 244);
 border-radius: 5px;
 box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 position: absolute;
 top: 30px;
 left: -6px;
}

.main-menu-item:first-child:hover::after{
 content: "";
 height: 10px;
 left: 10px;
 top: 25px;
 position: absolute;
 width: 100%;
}

.main-menu-item:hover .sub-menu{
 display: block;
}

.sub-menu-item{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
}

.sub-menu-item:first-child{
 border-radius: 5px;
 border-bottom: 1px solid rgba(50, 50, 50, .2);
 padding-top: 12px;
 width: 144px;
}

.sub-menu-item:last-child{
 border-radius: 5px;
 padding-bottom: 10px;
 }

.sub-menu-item:first-child .sub-menu-link{
 padding-left: 20px;
 padding-right: 5px;
 padding-bottom: 10px;
 padding-top: 0;
}


.sub-menu-link{
 color: rgb(50, 50, 50);
 display: block;
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
 padding-bottom: 5px;
 padding-left: 20px;
 padding-right: 21px;
 padding-top: 10px;
}

.sub-menu-link:hover{
 background-color: rgb(251, 222, 215);
}

.sub-menu-link:active{
 background-color: rgb(246, 181, 165);
 outline: none;
}

.sub-menu-link-current{
 background-color: rgb(208, 112, 88);
 color: rgb(255, 255, 255);
 display: block;
 padding-bottom: 7px;
 padding-left: 21px;
 padding-right: 21px;
 padding-top: 5px;
}

.sub-menu-item:first-child .sub-menu-link,
.sub-menu-item:first-child .sub-menu-link:hover,
.sub-menu-item:first-child .sub-menu-link:active{
 background-color: rgb(248, 247, 244);
 font-weight: 700;
}

/*header - кнопки входа, поиска и корзина*/
.actions-search{
 flex-basis: 32px;
 margin-bottom: 15px;
}

.actions-login{
 flex-basis: 92px;
 margin-bottom: 15px;
}

.actions-cart{
 flex-basis: 117px;
 margin-bottom: 15px;
}

.actions-button{
 background-color: rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255); 
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
 padding-bottom: 8px;
 padding-top: 7px;
 position: relative;
}

.actions-button-search{
 padding-left: 16px;
 padding-right: 16px;
 border-radius: 50%;
}

.actions-button-search::before{
 background-image: url("../img/decoration/loupe.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 17px;
 left: 0;
 margin: 7px;
 position: absolute;
 right: 0;
 top: 0;
 width: 17px;
}

.actions-button-search:hover::before{
 background-image: url("../img/decoration/loupe-hover.svg");
}

.actions-button-login{
 border-radius: 50px;
 margin-left: 1px;
 padding-left: 43px;
 padding-right: 17px;
}

.actions-button-login::before{
 background-image: url("../img/decoration/entrance.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 19px;
 left: 0;
 margin: 6px 16px;
 margin-left: 15px;
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
}

.actions-button-login:hover::before{
 background-image: url("../img/decoration/entrance-hover.svg");
}

.actions-button-empty-cart{
 border-radius: 50px;
 padding-left: 45px;
 padding-right: 34px;
}

.actions-button-empty-cart::before{
 background-image: url("../img/decoration/basket.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 20px;
 left: 0;
 margin: 6px 17px;
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
}

.actions-button-cart{
 border-radius: 50px;
 margin-left: -1px;
 padding-left: 44px;
 padding-right: 16px;
 position: relative;
}

.actions-button-cart::before{
 background-image: url("../img/decoration/basket-red.svg");
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 20px;
 left: 0;
 margin: 6px 16px;
 position: absolute;
 right: 0;
 top: 0;
 width: 21px;
}

.actions-button:hover,
.actions-button-cart{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50);
}

.actions-button-empty-cart:hover{
 background-color: rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
}

/*header - время работы*/
.contact-information-worktime,
.contact-information-number{
 font-size: 22px;
 font-weight: 700;
 line-height: 24px;
 margin: 0;
 padding: 0;
 text-align: right;
}

.contact-information-worktime{
 font-size: 14px;
 line-height: 16px;
 margin-bottom: 4px;
}

/*main - общее*/
.button{
 background-image: linear-gradient( 0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
 border: none;
 border-radius: 50px;
 box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 color: rgb(255, 255, 255);
 cursor: pointer;
 display: inline-block;
 font-size: 18px;
 font-weight: 700;
 line-height: 24px;
 text-align: center;
 text-decoration: none;
 vertical-align: top;
}

.button:hover{
 background-color: rgb(255, 255, 255);
 background-image: linear-gradient( 0deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
 box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:active{
 background-image: linear-gradient( 0deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
 box-shadow: inset 0px 2px 2px rgba(148, 39, 24, 1);
}

/*Слайдер*/
.slider{
 margin-bottom: 39px;
}

.slide{
 box-sizing: border-box;
 margin-top: -76px;
 padding-left: 51px;
 width: 100%;
}

.slide:nth-child(2),
.slide:nth-child(3){
 display: none;
}

.slide-title{
 font-size: 60px;
 font-weight: 700;
 line-height: 60.35px;
 margin: 0;
 margin-bottom: 28px;
 margin-top: -493px;
 padding: 0;
 padding-left: 185px;
 text-align: center;
 width: 672px;
}

.slide-button{
 background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
 border-radius: 50px;
 box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
 font-size: 32px;
 line-height: 44px;
 margin-left: 382px;
 padding: 12px 42px;
 text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slide-button:hover {
 background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
 box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
 background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
 box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-toggle{
 position: relative;
}

.slide-toggle{
 background-color: rgba(255, 255, 255, 0);
 border: 2px solid rgb(255, 255, 255);
 border-radius: 50%;
 bottom: 26px;
 cursor: pointer;
 height: 18px;
 left: 0;
 position: absolute;
 width: 17px;
}

.slide-toggle:nth-child(2){
 left: 30px;
}

.slide-toggle:nth-child(3){
 left: 60px;
}

.slide-toggle:hover{
 background-color: rgba(255, 255, 255, 0.4);
}

.slide-toggle:active{
 background-color: rgb(255, 255, 255);
}

.slide-toggle-current,
.slide-toggle-current:hover{
 background-color: rgb(255, 255, 255);
}

/*Баннеры*/
.banners{
 display: flex;
 justify-content: space-between;
 margin-bottom: 19px;
 position: relative;
 width: 100%;
 z-index: 1;
}

.banner{
 background-repeat: no-repeat;
 border-radius: 15px;
 box-sizing: border-box;
 color: rgb(255, 255, 255);
 font-weight: 700;
 position: relative;
}

.banner-ie-wrap{
 box-sizing: border-box;
 min-height: 229px;
 padding-bottom: 24px;
 padding-left: 18px;
 padding-top: 15px;
 padding-right: 20px;
 position: relative;
 width: 560px;
}

.banner:first-of-type{
 background-color: rgb(132, 0, 17);
 background-image: url("../img/background/bg-raspberry.jpg");
}

.banner:last-of-type{
 background-color: rgb(35, 10, 4);
 background-image: url("../img/background/bg-chocolate.jpg");
}

.banner-title{
 font-size: 35px;
 line-height: 41px;
 margin: 0;
}

.banner-item{
 font-size: 18px;
 font-weight: 700;
 line-height: 22px;
 margin: 0;
 padding-top: 16px;
 width: 514px;
}

.banner-button{
 bottom: 23px;
 padding: 11px 22px;
 position: absolute;
 right: 20px;
}


/*товары*/
.products{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.product{
 border-radius: 5px;
 display: flex;
 flex-basis: 267px;
 flex-direction: column;
 height: 400px;
 margin-bottom: -66px;
 margin-left: -14px;
 margin-right: -14px;
 margin-top: 16px;
 padding-left: 14px;
 padding-right: 14px;
 padding-top: 6px;
 position: relative;
 width: 267px;	
}

.product:nth-of-type(5),
.product:nth-of-type(6),
.product:nth-of-type(7),
.product:nth-of-type(8),
.product:nth-of-type(9),
.product:nth-of-type(10),
.product:nth-of-type(11),
.product:nth-of-type(12){
 margin-top: 21px;
}

.product:hover{	
 background-color: rgba(248,247,244,.3);
 box-shadow: 0 20px 20px rgba(0,0,0,.4);
 padding-bottom: 0;
 position: relative;
 z-index: 1;
}

.product-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
 margin: 0;
 order: 1;
 padding: 0;
 padding-top: 20px;
 position: relative;
 text-align: center;
}

.product-title-link{
 font: inherit;
 color: inherit;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit-image{
 position: absolute;
 top: 5px;
}

.product-image{
 border-radius: 50%;
}

.product-price{
 font-size: 45px;
 font-weight: 700;
 line-height: 45px;
 margin-left: -1px;
 margin-top: -58px;
 position: relative;
}

.ruble{
 font-family: 'ALSRubl-Arial', Arial, sans-serif;
}

.product-mass{
 font-size: 30px;
 font-weight: 700;
 line-height: 45px;
}

.product-link{
 box-sizing: border-box;
 display: none;
 margin-bottom: 17px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 18px;
 padding: 10px 16px;
 order: 2;
 width: 200px;
}

.product:hover .product-link{
 display: block;
}

.product-title-link:hover{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.2);
}

/*преимущества*/
.advantages{
 background-color: rgb(240, 213, 170);
 background-image: url("../img/background/bg-wafer.jpg");
 background-repeat: repeat;
 border-radius: 15px;
 box-sizing: border-box;
 color: rgb(50, 50, 50);
 margin-top: 27px;
 margin-bottom: 40px;
 min-height: 306px;
 padding-bottom: 10px;
 padding-top: 25px;
 padding-left: 20px;
 padding-right: 14px;
 width: 1146px;
}

.advantages-title{
 font-size: 24px;
 font-weight: 500;
 line-height: 30px;
 margin: 0;
 padding: 0;
 text-align: left;
}

.advantages-list{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.advantages-item{
 flex-basis: 490px;
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 padding-left: 57px;
 padding-top: 21px;
 position: relative;	
}

.advantages-item::before{
 background-repeat: no-repeat;
 bottom: 0;
 content: "";
 height: 49px;
 left: 0;
 margin-top: 8px;
 position: absolute;
 right: 0;
 top: 0;
 width: 49px;
}

.advantages-item-production::before{
 background-image: url("../img/decoration/ice-cream.svg");
 margin-top: 8px;
}

.advantages-item-source::before{
 background-image: url('../img/decoration/eco.svg');
 margin-top: 9px;
}

.advantages-item-dealers::before{
 background-image: url('../img/decoration/cow.svg');
 margin-top: 8px;
}

.advantages-item-delivery::before{
 background-image: url('../img/decoration/thermometer.svg');
 margin-top: 9px;
}

/*блог и рассылка*/
.row{
 display: flex;
 justify-content: space-between;
 margin-bottom: 40px;
}

.blog-teaser{
 background-color: rgb(255, 255, 255);
 background-image: url("../img/background/bg-strawberry.jpg");
 background-position: 100% 0;
 background-repeat: no-repeat;
 border-radius: 15px;
 color: rgb(50, 50, 50);
 width: 560px;
}

.blog-teaser-title{
 font-size: 16px;
 font-weight: 500;
 line-height: 22px;
 margin: 0;
 margin-bottom: 4px;
 padding: 0;
 padding-left: 19px;
 padding-top: 23px;
}

.blog-teaser-item{
 margin: 0;
 padding: 0;
 padding-left: 20px;
 width: 290px;
}

.blog-teaser-link{
 border-bottom: 2px solid rgb(50, 50, 50);
 color: rgb(50, 50, 50);
 font-size: 24px;
 font-weight: 700;
 line-height: 30px;
}

.dispatch{
 background-color: rgb(248, 247, 244);
 background-repeat: no-repeat;
 border: 5px solid #fff;
 border-image-source: url("../img/background/bg-post.svg");
 border-image-slice: 10;
 border-radius: 15px;
 box-sizing: border-box;
 color: rgb(90, 90, 90);
 padding-bottom: 10px;
 padding-left: 20px;
 padding-right: 10px;
 padding-top: 29px;
 position: relative;
 width: 558px;
}

.dispatch-item{
 font-size: 16px;
 font-weight: 400;
 line-height: 22px;
 margin: 0;
 margin-bottom: 36px;
 padding: 0;
 width: 515px;
}

.dispatch-button{
 border-radius: 50px;
 margin-left: 5px;
 padding: 10px 18px;
}

/*карта*/
 .map{
 background-color: rgb(153, 174, 162);
 line-height: 0;
 margin: 0;
 min-height: 430px;
 padding: 0;
 position: relative;
 width: 100%;
}

.map-js{
 background-color: rgba(150, 150, 150, 0);
 border: none;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 1;
}

.map-inner{
 height: 430px;
 position: relative;
 overflow: hidden;
 
}

.map img{
 display: block;
 height: auto;
 margin: 0 -27px;
 padding: 0;
 width: 1200px;
}

/*обратная связь*/
.feedback{
 background-color: rgb(254, 254, 254);
 border-radius: 15px;
 box-sizing: border-box;
 color: rgb(50, 50, 50);
 margin-right: 27px;
 min-height: 305px;
 overflow: auto;
 padding: 13px 20px 20px 25px;
 position: absolute;
 right: -27px;
 top: 50%;
 transform: translateY(-50%);
 width: 302px;
 z-index: 2;
}

.feedback-contacts-term,
.feedback-contacts-value span{
 font-size: 14px;
 font-weight: 400;
 line-height: 20px;
 margin: 0;
 padding: 0;
 width: 155px;
 }

 .feedback-contacts-term:nth-of-type(2){
 padding-bottom: 5px;
 width: 180px; 
 }

 .feedback-contacts-value:nth-of-type(2){
 padding-bottom: 6px;
 }

 .feedback-button{
 padding: 10px 28px;
 }

.feedback-contacts-value{
 font-size: 18px;
 font-weight: 700;
 line-height: 24px; 
 margin: 0;
 padding: 0;
 padding-bottom: 18px;
}

.feedback-form-text{
 font-size: 24px;
 font-weight: 500;
 line-height: 28px;
}

/*хлебные крошки*/
.breadcrumbs{
 padding-top: 19px;
}

.breadcrumbs .link{
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 color: rgb(255, 255, 255);
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
 margin-right: 17px;
 position: relative;
}

.breadcrumbs-link::before{
 color: rgb(255, 255, 255);
 content: "»";
 font-size: 14px;
 font-weight: 400;
 left: -13px;
 position: absolute;
 top: 0px;
}

.breadcrumbs-link:first-child::before{
 content: none;
}

.breadcrumbs span{
 color: rgb(255, 255, 255);
 font-size: 14px;
 font-weight: 400;
 line-height: 16px;
 margin-left: 4px;
 margin-right: 3px;
}

.breadcrumbs span:nth-of-type(2){
 margin-left: 3px;
}

.breadcrumbs-link:hover, .breadcrumbs-link:active{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs .breadcrumbs-link-current{
 border: none;
}

.breadcrumbs-link-current:hover{
 color: rgb(255, 255, 255);
}

.main-title{
 font-size: 35px;
 font-weight: 700;
 line-height: 41px;
 margin: 0;
 margin-bottom: 42px;
 padding: 0;
 padding-top: 4px;
 }

 /*фильтр*/
 .filter-form{
 display: flex;
 flex-wrap: wrap;
}

.filter{
 background-color: rgba(255, 255, 255, 0.2);
 border: none;
 border-radius: 50px;
 margin: 0;
 margin-right: 15px;
 margin-bottom: 30px;
 min-height: 36px;
 padding: 0;
 position: relative;
}

.filter-form .filter:first-of-type{
 width: 193px;
}

.filter-form .filter:nth-of-type(2){
 width: 218px;
}

.filter-legend{
 font-size: 14px;
 font-weight: 500;
 line-height: 16px;
 padding-left: 16px;
 position: relative;
 top: -16px;
}

.filter-radio .filter-legend,
.filter-options .filter-legend{
 padding-left: 0;
}

.filter-list{
 display: flex;
}

 /*range*/
.filter-range{
 padding-left: 22px;
 padding-top: 7px;
 position: relative;
}

.filter-range-price{
 background-color: rgba(255, 255, 255, 0.5);
 height: 4px;
 position: relative;
 width: 90%;
}

.filter-range-selected{
 background-color: rgba(255, 255, 255, 1);
 height: 4px;
 left: 0;
 right: 0;
 position: absolute;
 top: 0px;
}

.filter-range-toggle{
 background-color: rgba(171,171,171,1);
 border: 8px solid rgba(255,255,255,1);
 border-radius: 50%;
 cursor: pointer;
 height: 4px;
 position: absolute;
 width: 4px;  
}

.filter-range-toggle:hover{
 border: 9px solid rgba(255,255,255,1);
 top: -9px;
}

.range-toggle-min{
 left: 0;
 top: -8px;
}

.range-toggle-max{
 right: 0;
 top: -8px;
}

/*радиокнопки*/
.option-label-radio, .option-label{
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
}

.filter-radio{
 padding-left: 15px;
 padding-right: 20px;
}

.filter-option-radio{
 margin-right: 19px;
}

.filter-option-radio:last-child{
 margin-right: 0;
}

.option-input-radio{
 opacity: 0;
 position: absolute;
 z-index: -1;
}

.option-input-radio + .option-label-radio{
 cursor: pointer;
 position: relative;
 padding-left: 30px;
}

.option-input-radio + .option-label-radio:before {
 border: 4px solid rgba(255, 255, 255, 0.8);
 border-radius: 50%;
 content: "";
 height: 14px;
 left: -1px;
 position: absolute;
 top: -1px;
 width: 14px; 
}

.option-input-radio + .option-label-radio:hover::before{
 border: 4px solid rgb(255, 255, 255);
}

.option-input-radio + .option-label-radio::after {
 border: 4px solid rgba(255, 255, 255, 0.8);
 border-radius: 50%;
 content: "";
 display: none;
 height: 0px;
 left: 6px;
 position: absolute;
 top: 6px;
 width: 0px;
}

.option-input-radio + .option-label-radio:hover::after{
 border: 4px solid rgb(255, 255, 255);
}

.option-input-radio:checked + .option-label-radio:after{
 display: block;
}

/*чекбоксы*/
.filter{
 margin-right: 15px;
}

.filter-options{
 margin-bottom: 18px;
 padding-bottom: 10px;
 padding-left: 18px;
 padding-right: 20px;
}

.filter-list{
 display: flex;
}

.filter-option{
 margin-right: 20px;
}

.filter-option:last-child{
 margin-right: 0;
}

.option-input{
 position: absolute;
 opacity: 0;
 z-index: -1;
}

.option-input + .option-label{
 cursor: pointer;
 display: inline-block;
 position: relative;
 padding-left: 32px;
 text-align: right;
 vertical-align: top;
}

.option-input + .option-label::before {
 background-image: url("../img/decoration/checkbox-off.svg");
 background-repeat: no-repeat; 
 content: "";
 height: 24px;
 left: 0px;
 position: absolute;
 top: -1px;
 width: 24px;
}

.option-input + .option-label:hover::before {
 background-image: url("../img/decoration/checkbox-off-hover.svg");
}

.option-input:checked + .option-label::before {
 background-image: url("../img/decoration/checkbox-on.svg");
}

.option-input:checked + .option-label:hover::before {
 background-image: url("../img/decoration/checkbox-on-hover.svg");
}

/*выпадающий список*/
.filter-sort-field{
 border-radius: 30px;
 box-sizing: border-box;
 cursor: pointer;
 min-height: 36px;
 margin: 0;
 margin-top: -10px;
}

.filter-form-sorting{
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
 background-color: #9bafa3;
 border: 0;
 border-radius: 30px;
 color: rgb(255, 255, 255);
 cursor: pointer;
 height: 36px;
 margin: 0;
 padding: 0 25px 0 10px;
 width: 195px;  
}

.filter-sort-field:hover,
.filter-sort-field:focus{
 background-color: #9bafa3;
 color: rgb(50, 50, 50);
}

.select-icon:after {
 border-bottom: 9px solid transparent;
 border-left: 6px solid transparent;
 border-right: 6px solid transparent;
 border-top: 9px solid;
 content: "";
 height: 0;
 margin-top: -6px;
 pointer-events: none;
 position: absolute;
 right: 7%;
 top: 55%;
 width: 0;
}

.filter-form-sorting:focus ~ .select-icon:after {
 border-top-color: #333333;
}

.filter-form-sorting:hover,
.filter-form-sorting:focus,
.filter-form-sorting:active{
 background-color: #9bafa3;
 color: #333333;
}

.filter-form-sorting::-ms-expand {
 display: none;
}

@-moz-document url-prefix() {
  .filter-form-sorting {
    text-indent: 0.01px;
    text-overflow: "";
    padding-right: 1rem;
  }
  .filter-sort-field option {
    background-color: white;
  }
}

/*кнопка фильтра*/
.filter-wrap-button{
 margin: 0;
 padding-top: 9px;
}

.filter-button{
 background-color: rgba(255, 255, 255, 0.2);
 border: 2px solid rgb(255, 255, 255);
 border-radius: 50px;
 box-sizing: border-box;
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
 padding: 7px 27px;
}

.filter-button:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

.filter-button:active{
 background-color: rgb(237, 237, 237);
 box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
 color: rgb(50, 50, 50);
}

/*пагинатор*/
.main-catalog{
 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.paginator{
 margin-top: 75px;
 padding: 0;
 padding-bottom: 34px;
 position: relative;
 text-align: right;
 z-index: 2;
}

.paginator-link{
 border-radius: 50%;
 color: rgb(255, 255, 255);
 font-size: 16px;
 font-weight: 500;
 line-height: 18px;
 padding: 3px 8px;
}

.paginator-link-current{
 margin-left: 12px;
}

.paginator-link-prev,
.paginator-link-next{
 padding: 1px 6px;
 position: relative;
}

.paginator-link-next{
 margin-left: 13px;
}

.paginator-link-prev::before,
.paginator-link-next::before{
 background-image: url("../img/decoration/icon-right-small.svg");
 background-repeat: no-repeat;
 content: "";
 position: absolute;
 height: 13px;
 left: 4px;
 top: 6px;
 width: 10px;
}

.paginator-link-prev::before{
 left: -1px;
 transform: rotate(180deg);
}

.paginator-link:hover{
 background-color: rgba(255, 255, 255, 0.2);
}

.paginator-link:active{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

.paginator-link-current, 
.paginator-link-current:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(50, 50, 50);
}

/*поля форм*/
.field{
 margin-bottom: 20px;
 margin-top: 20px;
 position: relative;
}

.field-label{
 color: rgb(153, 153, 153);
 font-family: "Roboto", Arial, sans-serif;
 font-size: 14px;
 font-weight: 400;
 left: 14px;
 line-height: 24px;
 pointer-events: none;
 position: absolute;
 top: 11px;
 transform: translateY(-28px);
 transition: transform 200ms ease;  
}

.field-textarea + .field-label{
 top: 34px;
}

.dispatch-label-field{
 font-size: 16px;
 line-height: 22px;
}

.feedback-label-field{
 font-size: 16px;
}

.field-label:before{
 content: attr(data);
 white-space: nowrap;
}

.field-input,
.field-textarea{
 border: none;
 border-radius: 5px;
 box-shadow: 0 0 0 1px #d3d3d2 inset;
 box-sizing: border-box;
 color: rgb(50, 50, 50);
 font-family: "Roboto", Arial, sans-serif;
 font-size: 14px;
 font-weight: 700;
 line-height: 24px;
 padding: 12px 12px;
 padding-bottom: 14px;
}

.field-input:-ms-input-placeholder,
.field-textarea:-ms-input-placeholder{
 color: rgb(153, 153, 153);
 font-weight: 400;
}

.field-input::-ms-input-placeholder,
.field-textarea::-ms-input-placeholder{
 color: rgb(153, 153, 153);
 font-weight: 400;
}

.field-input::-moz-placeholder,
.field-textarea::-moz-placeholder{
 color: rgb(153, 153, 153);
 font-weight: 400;
}

.field-input::placeholder,
.field-textarea::placeholder{
 color: rgb(153, 153, 153);
 font-weight: 400;
}

.field-input:focus:-ms-input-placeholder,
.field-textarea:focus:-ms-input-placeholder{
 color: rgb(255, 255, 255);
}

.field-input:focus::-ms-input-placeholder,
.field-textarea:focus::-ms-input-placeholder{
 color: rgb(255, 255, 255);
}

.field-input:focus::-moz-placeholder,
.field-textarea:focus::-moz-placeholder{
 color: rgb(255, 255, 255);
}

.field-input:focus::placeholder,
.field-textarea:focus::placeholder{
 color: rgb(255, 255, 255);
}

.actions-search-field .field-input{
 width: 311px;
}

.actions-login-field .field-input,
.actions-password-field .field-input{
 width: 241px;
}

.dispatch-input-field{
 width: 368px;
}

.feedback-input-field{
 width: 267px;
}

.field-textarea{
 height: 155px;
 width: 428px;
}

.field-input:hover,
.field-textarea:hover{
 box-shadow: 0 0 0 2px #c7c6c5 inset;
}

.field-input:valid,
.field-textarea:valid{
 color: rgb(50, 50, 50);
 font-weight: 700;
}

.field-input:focus,
.field-textarea:focus{
 outline: none;
 box-shadow: 0 0 0 2px #8fbdec inset;
}

.field-input:invalid + .field-label{
 transform: translateY(0);
}

.field-input:focus + .field-label,
.field-textarea:focus + .field-label{
 color: rgb(91, 157, 223);
 font-size: 11px;
 font-weight: 400;
 line-height: 13px;
 transform: translateY(-28px);
}

.field-textarea:focus + .field-label{
 transform: translateY(-51px);
}

.field-input:valid + .field-label,
.field-textarea:valid + .field-label{
 color: rgb(153, 153, 153);
 font-size: 11px;
 font-weight: 400;
 line-height: 13px;
}

/*footer*/
.main-footer{
 align-items: center;
 display: flex;
 justify-content: space-between;
 padding-bottom: 25px;
 padding-top: 22px;
 width: 100%;
}

.footer-col:first-child{
 flex-basis: 190px;
}

.footer-col:nth-child(2){
 display: flex;
 flex-wrap: wrap;
 flex-basis: 400px;
 padding-left: 97px;
}

.footer-col:nth-child(2) .link{
 line-height: 22px;
 margin-right: 47px;
 width: 120px;
 }

.footer-col:nth-child(2) .link:nth-child(1),
.footer-col:nth-child(2) .link:nth-child(3){
 margin-right: 22px;
}

.footer-col:nth-child(2) .link-width{
 margin-right: 0px;
 width: 167px;
}

.footer-col:nth-child(2) .link-bold{
 position: relative;
}

.footer-col:nth-child(2) .link-bold::before{
 background-image: url("../img/decoration/heart.svg");
 background-repeat: no-repeat;
 content: "";
 height: 15px;
 left: -21px;
 position: absolute;
 top: 6px;
 width: 15px;
}

.social-btn,
.footer-col .link,
.footer-col span{
 color: rgb(255, 255, 255);
 font-size: 12px;
 font-weight: 400;
 line-height: 18px;
}

.footer-col:nth-child(2) .link{
 font-size: 13px;
}

.footer-col:nth-child(2) .link-bold{
 font-weight: 700;
}

.social-btn{ 
 background-repeat: no-repeat;
 background-position: center;
 background-clip: padding-box;
 border: 3px solid rgba(255, 255, 255, 0.5);
 border-radius: 50%;
 height: 38px;
 margin-right: 11px;
 padding: 8px 16px;
 width: 38px;
}


.social-btn:hover{
 border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active{
 border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn-tw{
 background-image: url("../img/decoration/twitter.svg");
}

.social-btn-tw:hover{
 background-image: url("../img/decoration/twitter-hover.svg");
}

.social-btn-tw:active{
 background-image: url("../img/decoration/twitter-active.svg");
}

.social-btn-inst{
 background-image: url("../img/decoration/instagram.svg");
}

.social-btn-inst:hover{
 background-image: url("../img/decoration/instagram-hover.svg");
}

.social-btn-inst:active{
 background-image: url("../img/decoration/instagram-active.svg");
}

.social-btn-fb{
 background-image: url("../img/decoration/fb.svg");
}

.social-btn-fb:hover{
 background-image: url("../img/decoration/fb-hover.svg");
}

.social-btn-fb:active{
 background-image: url("../img/decoration/fb-active.svg");
}

.social-btn-vk{
 background-image: url("../img/decoration/vk.svg");
 margin-right: 0;
}

.social-btn-vk:hover{
 background-image: url("../img/decoration/vk-hover.svg");
}

.social-btn-vk:active{
 background-image: url("../img/decoration/vk-active.svg");
}

.footer-col .link:hover, 
.footer-col .link:active{
 color: rgb(255, 188, 158);
 border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer-col:last-child{
 display: flex;
 flex-direction: column;
 flex-basis: 190px;
 flex-wrap: wrap;
}

.footer-col-img{
 align-self: flex-start;
 margin-top: -5px;
}

.footer-col-item{
 margin: 0;
}








/*модальные окна*/
.wrap-field{
 background-color: rgb(248, 247, 244);
 position: absolute;
}

/*корзина*/
.cart-table{
 background-color: rgb(248, 247, 244);
 color: rgb(50, 50, 50); 
 font-size: 13px;
 font-weight: 400;
 line-height: 16px;
}

.cart-table-price{
 color: rgb(153, 153, 153);
}

.cart-table-row-total{
 font-size: 15px;
 font-weight: 700;
 line-height: 18px;
}

.actions-login .link{
 border-bottom: 1px solid rgba(50, 50, 50, 0.3);
 color: rgb(50, 50, 50);
 font-size: 13px;
 font-weight: 400;
 line-height: 24px;
}

.actions-login .link:hover, .actions-login .link:active{
 border-bottom-color: rgba(232, 77, 55, 0.3);
 color: rgb(232, 77, 55);
}

.actions-search .wrap-field{
 border-radius: 6px;
 box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 padding-right: 15px;
 padding-left: 15px;
 position: absolute;
 right: 228px;
 top: 58px;
}

.actions-login .wrap-field{
 box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 border-radius: 6px;
 padding-bottom: 21px;
 padding-left: 15px;
 padding-right: 15px;
 position: absolute;
 right: 125px;
 top: 59px;
 z-index: 3;
}

.actions-login-button{
 border-radius: 50px; 
 box-sizing: border-box;
 height: 44px;
 margin-right: 21px;
 padding-bottom: 0px;
 padding-left: 26px;
 padding-right: 26px;
 padding-top: 0px;  
}

.field-wrap{
 display: flex;
}

.wrap-links{
 width: 124px;
}

.actions-cart .wrap-field{
 border-radius: 5px;
 box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 display: none;
 padding-right: 14px;
 padding-left: 14px;
 padding-bottom: 19px;
 position: absolute;
 right: 0;
 top: 59px;
 width: 512px;
 z-index: 4;
}

.cart-table-button{
 background-color: rgba(255, 255, 255, 0);
 background-image: url("../img/decoration/cross-small.svg");
 cursor: pointer;
 border: none;
 display: inline-block;
 height: 11px;
 padding: 0;
 vertical-align: middle;
 width: 11px;
}


.cart-table-cell-btn{
 padding-top: 8px;
 vertical-align: middle;
}

.cart-table-cell-img{
 padding-top: 17px;
 text-align: right;
 vertical-align: top;
 width: 43px;
}

.cart-table-cell-name{
 padding-left: 9px;
 padding-top: 24px;
 vertical-align: top;
}

.cart-table-cell-price{
 padding-top: 24px;
 text-align: left;
 vertical-align: top;
 width: 120px;
}

.cart-table-cell-cost{
 padding-top: 24px;
 text-align: left;
 vertical-align: top;
 width: 65px;
}

.cart-table-row:nth-child(3) .cart-table-cell-btn{
 padding-top: 20px;
 vertical-align: top;
}

.cart-table-row:nth-child(3) .cart-table-cell-img{
 padding-top: 11px;
}

.cart-table-row:nth-child(3) .cart-table-cell-name,
.cart-table-row:nth-child(3) .cart-table-cell-price,
.cart-table-row:nth-child(3) .cart-table-cell-cost{
 padding-top: 20px;
}

.cart-table-row:nth-child(3) .cart-table-cell-name{
 padding-bottom: 15px;
}

.cart-table-total{
 border-top: 1px solid rgba(50, 50, 50, 0.2);
 padding-top: 15px;
 text-align: right;
}

.buttons-cart{
 padding-top: 10px;
 text-align: right;
}

.button-cart{
 margin-left: auto;
 padding: 10px 16px;
}

.feedback-popup{
 display: none;
 height: 442px;
 left: 50%;
 position: fixed;
 top: 50%;
 transform: translate(-50%, -50%);
 width: 478px;
 z-index: 10;
}

.feedback-form .wrap-field{
 border-radius: 5px;
 box-sizing: border-box;
 height: 100%;
 padding-left: 24px;
 padding-top: 15px;
 padding-right: 24px;
 width: 100%;
}

.popup-overlay{
 background-color: rgba(50, 50, 50, 0.3);
 display: none;
 height: 100%;
 left: 0;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 9;
}

.feedback-form-text{
 color: rgb(50, 50, 50);
 font-size: 24px;
 font-weight: 500;
 line-height: 28px;
 margin: 0;
}

.close-button{
 background-color: rgba(255, 255, 255, 0);
 background-image: url("../img/decoration/cross-big.svg");
 background-position: 50% 50%;
 background-repeat: no-repeat;
 border: none;
 border-radius: 50%;
 cursor: pointer;
 height: 20px;
 position: absolute;
 top: 15px;
 right: 15px;
 width: 20px;
}

.feedback-submit-button{
 margin-left: 290px;
 margin-top: 5px;
 padding: 11px 24px;
}

.actions-search:hover::after{
 content: "";
 height: 20px;
 left: 880px;
 position: absolute;
 top: 50px;
 width: 40px;
}

.actions-login:hover::after{
 content: "";
 height: 20px;
 left: 920px;
 position: absolute;
 top: 50px;
 width: 110px;
}

.actions-cart:hover::after{
 content: "";
 height: 20px;
 left: 1030px;
 position: absolute;
 top: 50px;
 width: 110px;
}

.actions-search:hover .wrap-field-search{
 display: block;
}

.actions-login:hover .wrap-field-login{
 display: block;
}

.actions-cart:hover .wrap-field-cart{
 display: block;
}

@keyframes bounce {
  0% {
    transform: translateY(-60%) translateX(-50%);
  }

  70% {
    transform: translateY(30%) translateX(-50%);
  }

  90% {
    transform: translateY(-10%) translateX(-50%);
  }

  100% {
    transform: translateY(0) translateX(-50%);
  }
}

.modal-show{
 animation-duration: 0.4s;
 animation-name: bounce;
 display: block;
}

.modal-show-overlay{
 display: block;
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(-50%) translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-50%) translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(-50%) translateX(-51%);
  }
}

.modal-error {
 animation: shake 0.6s;
}

.feedback-page{
 height: 442px;
 margin: 0 auto;
 width: 478px;
}